/*
	Group 18
	File: webd2201.css
    Date: 30/09/2019
	Description: A style sheet for the website
*/

img.logos
{
	width: 75px;
}

.carousel-item 
{
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.divider-custom 
{
	margin: 1.25rem 0 1.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.divider-custom .divider-custom-line 
{
	width: 100%;
	max-width: 7rem;
	height: 0.25rem;
	background-color: #2c3e50;
	border-radius: 1rem;
	border-color: #2c3e50 !important;
}
  
.divider-custom .divider-custom-line:first-child 
{
	margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child 
{
	margin-left: 1rem;
}
  
.divider-custom .divider-custom-icon 
{
	color: #2c3e50 !important;
	font-size: 2rem;
}
  
.divider-custom.divider-light .divider-custom-line 
{
	background-color: #fff;
}
  
.divider-custom.divider-light .divider-custom-icon 
{
	color: #fff !important;
}

.footer-text
{
	color: #fff;
}

img.validation
{
	width:88px;
	height:31px;
}

img.listing
{
    width:100%;
    height:400px;
}

img.icon
{
	width:35px;
	height:35px;
}

img.map
{
    width:650px;
    height:600px;
}

.divTable
{
    display: table;
	width: 100%;
	height: 500px;
	border: 1px solid #000;
}
.divTableRow 
{
    display: table-row;
}
.divTableHeading 
{
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead 
{
    display: table-cell;
    padding: 15px 5px;
    text-align: left;
}
.divTableBody 
{
    display: table-row-group;
}
.prices 
{
	font-size: 45px;
}

.img_preview
{
	height:200px;
	width:500px;
}

.img_upload
{
	height:200px;
}

.fixed-footer
{
	min-height:80vh;
}